html {
    font-size: 10px;
    font-family: "Roboto Mono", monospace;
    background-color: #D3D3FF;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #4646ff;
    text-shadow: 3px 3px 1px black;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #CEB5FF;
    padding: 20px 20px 20px 20px;
}

#role {
    font-size: 35px;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    color: #4646ff;
    text-shadow: 2px 2px 1px black;
}

h2 {
    font-size: 35px;
    color: #3434ce;
}

.title {
    font-size: 25px;
}

#follow {
    font-size: 25px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}