name: Deploy Portfolio to S3

on:
  push:
    branches:
      - main # default branch name

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-2 # Change to your bucket's region

      - name: Deploy to S3
        run: aws s3 sync . s3://portfolio-swarnadeep-ghosh-0411213s --delete --exclude ".git/*" --exclude ".github/*"
        # The --delete flag removes files from S3 that you deleted in git (keeps it clean)

      - name: Invalidate CloudFront
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
